<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe9ESVFY0M_jJ0h_ch4miznaq2hBTm2mA</string>
	<key>GCM_SENDER_ID</key>
	<string>444628624565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vicalmun.HabitTracker</string>
	<key>PROJECT_ID</key>
	<string>habittracker-vicalmun</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-vicalmun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444628624565:ios:8af4aabad3a95c3b060afc</string>
</dict>
</plist>